<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="main-element">
  <template>
      <style>
      :host {
        display: block;
              }

    </style>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>

    </style>
    <head>

    </head>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="#">Navbar</a>

      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
    </nav>


</template>

        <script>
          /**
           * `login-element`
           *
           *
           * @customElement
           * @polymer
           * @demo demo/index.html
           */
          class MainElement extends Polymer.Element {
            static get is() { return 'main-element'; }
            static get properties() {
              return {
                prop1: {
                  type: String,
                  value: 'main-element'
                }

              };
            }
            validarUsuario(){
                    var request = new XMLHttpRequest();
                     request.open("POST", "http://localhost:3001/validarusuario", false);
                     request.setRequestHeader("Accept","application/json");
                     request.setRequestHeader("Content-Type","application/json");
                     //console.log(this.email);
                     //console.log(this.clave);
                     var usuariologin = {"usuario":this.email, "clave":this.clave};
                     //console.log(usuariologin);
                     var body = JSON.stringify(usuariologin); //convierte a objeto JSON
                     request.send(body);
                     //this.respuesta = request.responseText;
                     var myObj = JSON.parse(request.responseText);
                     var err=request.status
            //         console.log(request);
                     this.mensaje=myObj.message;

           }
           registrarusuario(){
             var objr=this.$.idregistro
             var objl=this.$.idlogin
             objr.style.display="block";
             objl.style.display="none";
           }
           cancelar(){
             var objr=this.$.idregistro
             var objl=this.$.idlogin
             objr.style.display="none";
             objl.style.display="block";
           }




        }

          window.customElements.define(MainElement.is, MainElement);
        </script>

</dom-module>
