<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="prueba-element">
  <template>
  
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <style>
  :host {
    display: block;
          }
</style>
<!-- The Modal -->
<body>
 <div class="modal" id="myModal">
   <div class="modal-dialog">
     <div class="modal-content">

       <!-- Modal Header -->
       <div class="modal-header">
         <h4 class="modal-title">Modal Heading</h4>
         <button type="button" class="close" data-dismiss="modal">&times;</button>
       </div>

       <!-- Modal body -->
       <div class="modal-body">
         Modal body..
       </div>

       <!-- Modal footer -->
       <div class="modal-footer">
         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>

     </div>
   </div>
 </div>

</div>

</body>


  </template>

  <script>
    /**
     * `prueba-element`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PruebaElement extends Polymer.Element {
      static get is() { return 'prueba-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'prueba-element'
          },
          hide: {
            type:String,
            value:'block'
          }
        };
      }

    }
    window.customElements.define(PruebaElement.is, PruebaElement);
  </script>
</dom-module>
