
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="my-app.html">
<dom-module id="my-login">
  <template>
      <style>
      :host {
        display: block;
              }
      </style>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <style>
        .card {
          margin: 0 auto;
          left: 0;
          right: 0;
          width: 400px;
          display:block;
        }
      </style>
    <head>

    </head>

           <div id="idlogin" class="card">
              <div class="card-header bg-primary" >

                <h3 class="card-title text-center">INGRESO TECHU PRACTITIONER</h3>
                <img src="https://logodownload.org/wp-content/uploads/2018/11/bbva-logo-10.png" class="img-thumbnail" alt="Cinque Terre" width="30%">
              </div>
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <label for="email">email:</label>
                    <input type="email" class="form-control" id="email" placeholder="ingrese email" value={{email::input}} name="email">
                  </div>
                  <div class="form-group">
                    <label for="password">contraseña:</label>
                    <input type="password" class="form-control" placeholder="Ingrese Contraseña"  value={{clave::input}} id="password" name="password">
                  </div>
                  <button on-click = "validarUsuario" class="btn btn-success col-lg-4 col-xs-12" type="button" name="button">Ingresar</button>

                <button on-click = "registrarusuario" class="btn btn-success col-lg-4 col-xs-12" type="button" name="buttonN">Registrar</button>

                </form>
              </div>
              <div class="card-footer">
                <h3>{{mensaje}}</h3>

              </div>
          </div>

           <div id="idregistro" class="card" style="display:none;">
              <div class="card-header bg-primary" >
                <h1 class="card-title text-lg-right">registro de usuarios</h2>
                  <img src="https://logodownload.org/wp-content/uploads/2018/11/bbva-logo-10.png" class="img-thumbnail" alt="Cinque Terre" width="30%">
                </div>
              <div class="card-body">
                <form>
                  <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre y Apellidos " value={{nombre::input}} name="nombre">
                  </div>
                  <div class="form-group">
                    <label for="email">email:</label>
                    <input type="email" class="form-control" id="email" placeholder="ingrese email" value={{email::input}} name="email">
                  </div>
                  <div class="form-group">
                    <label for="password">contraseña:</label>
                    <input type="password" class="form-control" id="password"  placeholder="Ingrese Contraseña"  value={{clave::input}} name="password">
                  </div>

                  <button on-click = "cancelar" class="btn btn-success col-lg-4 col-xs-12" type="button" name="button">Cancelar</button>
                  <button on-click = "grabarUsuario" class="btn btn-success col-lg-4 col-xs-12" type="button" name="button">Guardar</button>
                </form>
              </div>
              <div class="card-footer">
                <h3>{{mensajeregistro}}</h3>

              </div>
          </div>
          <div id="idprincipal" style="display:none;">
              <my-app></my-app><<<

          </div>
</template>

        <script>
          /**
           * `my-login`
           *
           *
           * @customElement
           * @polymer
           * @demo demo/index.html
           */
          class MyLogin extends Polymer.Element {
            static get is() { return 'my-login'; }
            static get properties() {
              return {
                prop1: {
                  type: String,
                  value: 'my-login'
                },
                nombre:{
                  type:String,
                  value:''
                },
                email:{
                  type:String,
                  value:''
                },
                clave:{
                  type:String,
                  value:''
                },
                estado:{
                  type:String,
                  value:'False'
                },
                mensaje:{
                  type:String,
                  value:''
                },
                mensajeregistro:{
                  type:String,
                  value:''
                }
              };
            }
            validarUsuario(){
                    var request = new XMLHttpRequest();
                     request.open("POST", "http://localhost:3001/validarusuario", false);
                     request.setRequestHeader("Accept","application/json");
                     request.setRequestHeader("Content-Type","application/json");
                     //console.log(this.email);
                     //console.log(this.clave);
                     var usuariologin = {"usuario":this.email, "clave":this.clave};
                     //console.log(usuariologin);
                     var body = JSON.stringify(usuariologin); //convierte a objeto JSON
                     request.send(body);
                     //this.respuesta = request.responseText;
                     var myObj = JSON.parse(request.responseText);
                     var err=request.status
                     if (err==404){
                     console.log(err);
                      this.mensaje=myObj.message;
                      }
                      else {
                      //  debugger;
                        // console.log(myObj);
                         this.mensaje=myObj.nombre;
                        var objpanel=this.$.idprincipal
                        objpanel.style.display="block";
                        var objl=this.$.idlogin
                        objl.style.display="none"
                      }
           }
           registrarusuario(){
             var objr=this.$.idregistro
             var objl=this.$.idlogin
             objr.style.display="block";
             objl.style.display="none";
           }
           cancelar(){
             var objr=this.$.idregistro
             var objl=this.$.idlogin
             objr.style.display="none";
             objl.style.display="block";
           }
          grabarUsuario(){
                   var request = new XMLHttpRequest();
                    request.open("POST", "http://localhost:3001/grabarusuario", false);
                    request.setRequestHeader("Accept","application/json");
                    request.setRequestHeader("Content-Type","application/json");

                    var usuarioregistro = {"nombre":this.nombre,"usuario":this.email,"clave":this.clave};
                  //  console.log(usuarioregistro);
                    var body = JSON.stringify(usuarioregistro); //convierte a objeto JSON
                    request.send(body);
                    //this.respuesta = request.responseText;
                    var myObj = JSON.parse(request.responseText);
                    var err=request.status
                    //console.log(request);
                    this.mensajeregistro=myObj.message;
          }



        }

          window.customElements.define(MyLogin.is, MyLogin);
        </script>

</dom-module>
