<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view3">
  <template>
    <head>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>
      <br></br>
      <div class="card">
      <div>
        <button on-click = "obtenerCuentas" class="btn btn-success col-lg-4 col-xs-12" type="button" name="button">consulta cuentas</button>
    </div>
    <br></br>
    <div id="displaytableCta">
                          <table class="w3-table w3-bordered col-lg-12 col-xs-12">
                            <thead>
                              <tr class="w3-blue">
                                <th style="text-align:center">Cuenta</th>
                                <th style="text-align:right">Moneda</th>
                                <th style="text-align:right">Saldo </th>

                              </tr>
                            </thead>
                            <tbody>
                              <template is="dom-repeat" items="[[cuentas]]">
                                <tr>
                                    <td style="text-align:center">[[item.cuenta]]</td>
                                    <td style="text-align:right">[[item.moneda]]</td>
                                    <td style="text-align:right">[[item.saldo]]</td>

                                </tr>
                              </template>
                            </tbody>
                          </table>
                        </div>
  </div>


  </template>

  <script>
    class MyView3 extends Polymer.Element {
      static get is() { return 'my-view3'; }
      static get properties() {
        return {
          cuentas: {
            type: Array,
            notify: true
          }
        };
      }
      obtenerCuentas(){
        var request = new XMLHttpRequest();

        //request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.open("POST", "http://localhost:3001/consultacuenta", false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        //this.clientes = JSON.parse(request.responseText).value;
        this.cuentas = JSON.parse(request.responseText);
        console.log(this.cuentas);
      }
    }

    window.customElements.define(MyView3.is, MyView3);
  </script>
</dom-module>
