<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">


<dom-module id="my-view1">
  <template>
    <head>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

<iron-ajax auto
  id="getExchangeRate"
  url="https://www.deperu.com/api/rest/cotizaciondolar.json"
  headers="[[headers]]"
  handle-as="json"
  on-response="respuestaRecibida"
  last-response="{{data}}"
>
</iron-ajax>
  <br></br>
  <div class="card">
<div class="pg-table-header">
  <h1>Tipo de cambio</h1>
</div>
<h2>Api de :{{sitio}}</h2>
<div class="tables-body">
  <table class="w3-table w3-bordered col-lg-12 col-xs-12">
    <tr>
      <th>DIVISA</th>
      <th>COMPRA</th>
      <th>VENTA</th>
    </tr>
    <tr>
        <td>$ 1.00</td>
        <td>{{compra}}</td>
        <td>{{venta}}</td>
    </tr>
</table>
</div>
  </template>
  <script>
    Polymer({
      is: "my-view1",

      properties: {
        cargando: Boolean,
      },
      compra:{
        type:Number,
        value:0
      },
      venta:{type:Number,value:0},
      sitio:{type:String,value:""},

      guardar: function() {
        var obj = {
          title: 'Título de un post',
          body: 'Este es el cuerpo de un post',
          userId: 1
        };
        this.$.getExchangeRate.body = obj;
        this.$.getExchangeRate.generateRequest();


      },

      respuestaRecibida: function(e, request) {
        var response = request.response;
        var myobj= JSON.stringify(response);
        var cc = JSON.parse(myobj);
        this.sitio=cc.Sitio;
              this.compra=cc.Cotizacion[0].Compra;
        this.venta=cc.Cotizacion[0].Venta;


      },

      errorRecibido: function(e, error) {
        console.log(error.request.status);
        this.mensaje = 'Error en la solicitud, con código ' + error.request.status;
      }
    });
  </script>
</dom-module>
